@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&family=Spectral:ital,wght@0,500;1,500&display=swap');

@font-face {
  font-family: hylia_serif;
  src:
    url('/assets/fonts/hyliaserifbeta-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/hyliaserifbeta-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: triforce;
  src:
    url('/assets/fonts/triforce-webfont.woff2') format('woff2'),
    url('/assets/fonts/triforce-webfont.woff') format('woff');
}

@font-face {
  font-family: calamity;
  src: url('/assets/fonts/Calamity-Bold.otf') format('opentype');
}

:root {
  --modal-bg: hsla(103, 33%, 80%, 0.9);
  --modal-bg-alt: hsla(103, 33%, 80%, 0.4);
  --green: hsl(151, 33%, 60%);
  --green-alt: hsl(151, 38%, 50%);
  --light-green: hsl(103, 33%, 72%);
  --dark-green: hsl(168, 57%, 26%);
  --dark-green-alt: hsl(156, 47%, 31%);
  --coral-red: rgb(255, 109, 96);
  --description-height: 22rem;
  --timeline-height-LR: calc(100svh - var(--description-height) - 0.5rem);
  --shadow-color: rgba(0, 0, 0, 0.35);
  /* Alt shadow color with dark green as the color seems to almost give a 
  glow effect rather than a shadow which we don't want */
  /* --shadow-color: hsla(168, 57%, 26%, 0.6); */
}

html,
body {
  overflow: hidden;
  height: 100svh;
  scrollbar-width: thin;
  scrollbar-color: var(--dark-green) transparent;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Spectral', serif;
  background: radial-gradient(ellipse at center, var(--light-green) 45%, var(--green) 100%);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: 'triforce', sans-serif;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

p {
  line-height: 1.3;
}

code {
  font-size: 1rem;
  color: var(--dark-green);
  background-color: var(--green);
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-green);
  border-radius: 20px;
  border: 0.35rem solid transparent;
  background-clip: padding-box;
}

/* Larger screens can handle more description height */
@media screen and (min-height: 900px) {
  :root {
    --description-height: 22rem;
  }
}

/* Very small screens need even less */
@media screen and (max-height: 700px) {
  :root {
    --description-height: 14rem;
  }
}
