<div id="info">
    <h1>Astro</h1>
    <p>This game is the best one.</p>
</div>
<style lang="scss">
    #info {
        font-family: "RocknRoll One", sans-serif;
        margin: 0.5rem;
        color: lightcoral;
        // background-color: var(--lightgreen);
    }
</style>
