@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

@font-face {
    font-family: 'hylia_serif_betaregular';
    src: url('../fonts/hyliaserifbeta-regular-webfont.woff2') format('woff2'),
        url('../fonts/hyliaserifbeta-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'triforcetriforce';
    src: url('../fonts/triforce-webfont.woff2') format('woff2'),
        url('../fonts/triforce-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --green: hsl(151, 33%, 60%);
    --light-green: hsl(103, 33%, 72%);
    --dark-green: hsl(168, 57%, 26%);
    --coral-red: rgb(255, 109, 96);
}

html, body {
    overflow: hidden;
    max-height: 100%;
    height: 100%;
}

body {
    display: flex;
    font-family: "RocknRoll One", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}