@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

@font-face {
  font-family: 'hylia_serif_betaregular';
  src: url('fonts/hyliaserifbeta-regular-webfont.woff2') format('woff2'),
       url('fonts/hyliaserifbeta-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'triforcetriforce';
  src: url('fonts/triforce-webfont.woff2') format('woff2'),
       url('fonts/triforce-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

::selection {
    background: hsla(0, 79%, 72%, 0.6);
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: hsl(103, 33%, 72%);
}

::-webkit-scrollbar-thumb {
    background-color: lightcoral;
    border-radius: 20px;
    border: 0.4rem solid transparent;
    background-clip: padding-box;
}

html, body {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    min-width: 100%;
    flex-direction: column;
}

body {
    background-color: hsl(103, 33%, 72%);
    font-family: 'hylia_serif_betaregular', sans-serif;
    overflow: hidden;
    scrollbar-color: lightcoral hsl(103, 33%, 72%);
    scrollbar-width: thin;
}

.game-details {
    height: 35%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.game-details article {
    margin: 0.5rem;
    background-color: hsl(104, 28%, 61%);
    width: 70%;
}

.game-details article p {
    margin: 2rem;
    border-radius: 100rem;
}

.image-container {
    display: flex;
    
    /* background-color: hsl(151, 33%, 60%); */
}

img {
    display: flex;
    margin: 0.5rem;
    width: 30%;
    min-width: 25rem;
    /* height: auto; */
    /* margin: auto; */
    /* margin: auto; */
    /* max-height: 90%; */
    object-fit: contain;
    max-width: 100%;
}

/* a {
    text-decoration: none;
    color: white;
} */